body {
    font-family: Arial;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
}
@keyframes rotate360 {
    100% { transform: rotate(360deg); }
}
@font-face {
    font-family: 'Lato_Black';
    src: url('../fonts/Lato-Black.ttf');
}

@font-face {
    font-family: 'Lato_Regular';
    src: url('../fonts/Lato-Regular.ttf');
}

.container {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;

}

.flip_horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

.center {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
}

#inc_header {
    height: 120px;
    width: 100%;
    background-color: #e8ebf1;
    margin-top: 0px;
}

#header_center {
    position: relative;
    height: 100%;
}

#header_logo {
    height: 80px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

#header_logo > span {
    font-size: 50px;
}

#inc_header_title1 {
    font-family: Lato_Black !important;
    color: #000000;
}

#inc_header_title2 {
    font-family: Lato_Regular !important;
    color: #2aacc8;
}

#menu {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    height: 35px;
}

#menu > ul {
    margin-top: 0px;
    width: 100%;
    height: 35px;
    list-style-type: none;
}

#menu > ul > li > i {
    font-size: 13px;
    margin-right: 5px;
}

#menu > ul > li {
    border-top: 5px solid transparent;
    display: inline-block;
    width: 100px;
    text-align: center;
    padding-right: 5px;
    padding-left: 0px;
    height: 35px;
    line-height: 35px;
    margin-left: -5px;
}

#menu > ul > li:hover {
    background-color: white;
    border-top: 5px solid #2aacc8;
}

#menu > ul > li:hover > a {
    color: #2aacc8;
}

#menu > ul > li > a {
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px;

    text-decoration: none;
}

.sub_menu {
    width: 120px !important;
    position: relative;
}

.sub_menu:hover ul {
    display: block;
}

.sub_menu > div {
    display: inline-block;
    height: 13px;
    width: 20px;
}

.sub_menu > ul {
    display: none;
    text-align: left;
    left: 0px;
    top: 35px;
    position: absolute;
    background-color: white;
    list-style-type: none;
    width: 200px !important;
    height: 200px;
    border-bottom: 5px solid #2aacc8;
    z-index: 1;
}

.sub_menu > ul > li {
    list-style-type: none;
    text-align: left;
    border-bottom: 1px solid #e7e7e7;
    margin-left: -30px;
    margin-right: 5px;
}

.sub_menu > ul > li > a {

    color: #424242;
    font-size: 13px;
    padding-top: 10px;

    text-decoration: none;
}

.bottom_submenu {
    border-bottom: 0px !important;
}

.top_submenu {
    padding-top: 5px !important;
}

.sub_menu > ul > li:hover a {
    color: #2aacc8;
}

#banner {
    width: 100%;
    height: 503px;
    background-color: #81e4ed;
}
#slide{
    padding-top: 20px;

    position: relative;
    width: 100%;
    height: 440px;
}
#pre_banner{
    width: 500px;
    height: 420px;
    float: left;
    position: absolute;
}
#next_banner{
    width: 500px;
    height: 440px;
    right: 0px;
    position: absolute;
}
#img_slide {
    width: 1000px;
    height: 440px;
}

#position_banner {
    margin-right: auto;
    margin-left: auto;
    line-height: 40px;
    height: 40px;
    text-align: center;
}

.position {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #71a3a7;
}
#position_main{
    background-color: white ;
}
#home1 {
    width: 100%;
    height: 300px;
    background-color: #e8ebf1;
}

.home1_content {
    display: inline-block;
    position: relative;
    width: 220px;
    height: 300px;
    padding-left: 20px;
    padding-right: 15px;

}

.home1_content_header {
    position: relative;
    display: inline-block;
    padding-top: 60px;
    width: 100%;
    height: 40px;
}

.home1_content_header > div {
    text-align: center;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #2aacc8;
    line-height: 40px;
}

.home1_content_header > div > i {
    font-size: 15px;
    color: white;
}

.home1_content_header > p {
    position: absolute;
    color: #616265;
    top: 55px;
    font-size: 15px !important;
    font-weight: bold;
    width: 198px;
    text-align: left;
    padding-left: 10px;
    display: inline-block;
}

.home1_content >p {
    font-size: 13px;
    color: #363636;
}
#home1_content1{
    padding-left: 0px !important;
}
#home1_content4{
    padding-right: 0px !important;
}
.home1_content_footer {
    display: inline-block;
}

.home1_content_footer > i {
    font-size: 10px;
    color: #2b2b2c;
}

.home1_content_footer > p {
    display: inline-block;
    color: #2aacc8;
}

#full_screen {
    padding-top: 12px;
}

#home2_item_title{
    width: 100%;
    height: 60px;
    display: inline-block;
    border-bottom: 1px solid #dfe1e5;
}
#home2_item_title >i{
    color: #2aacc8;
}
#home2_item_title >p{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding-left: 30px;
}
#button_title{
    float: right;
    padding-top: 25px;
    display: inline-block;
}
#button_title >div{
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: #81e4ed;
    display: inline-block;
    border: 0px;
}
#button_title button:hover{
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}
#button_title >div>a>i{
    padding-top: 5px;

    color: #434343;
}
.fa-chevron-left{
    padding-right: 3px;
}
.fa-chevron-right{
    padding-left: 3px;
}

#list_item{
    height: 220px;
    width: 1000px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #dfe1e5;
}
.item{
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 220px;
    height: 160px;
    display: inline-block;
}
.img_item{
    width: 220px;
    height: 160px;
}
.item >div{
    width: 100%;
    height: 100%;
    position: relative;
}
.hover_item{
    height: 0px;
    width: 100%;
    background-color: #2aacc8;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: inline-block;
    z-index: 1;
    transition-property: height;
    transition-duration: 1s;
    line-height: 80px;
    overflow: hidden;
}
.item:hover .hover_item{
    height: 80px;
}
.hover_item >div{
    width: 25px;
    height: 25px;
    right: 50px;
    position: absolute;
    top: 30px;
    line-height: 25px;
}
.hover_item >div>i{
    color: white;
    width: 24px;
    height: 26px;

}
.hover_item>img{
    position: absolute;
    left: 50px;
    top: 30px;
}
.hover_item >img:hover{
    animation-name: rotate360;
    animation-duration: 2s;
}
.hover_item >div:hover{
    animation-name: rotate360;
    animation-duration: 2s;
}
#item5{
    left: -260px;
}
#item0{
    left: 0px;
}
#item1{
    left: 260px;
}
#item2{
    left: 520px;
}
#item3{
    left: 780px;
}
#item4{
    left: 1040px;
}

#home2_midle{
    width: 100%;
    height: 300px;
    display: inline-block;
}
#testimonial{
    width: 50%;
    height: 100%;
    float: left;
}

#testimonial_title{
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: relative;
}
#testimonial_title >img{
    position: absolute;
    top: 20px;
}
#testimonial_title >p{
    position: absolute;
    top: 0px;
    left: 40px;
    font-weight: bold;
    font-size: 15px;
}
#testimonial_text{
    color: #363636;
    font-size: 14px;
    padding-top: 20px;
}
#signature{
    color: #363636;
    font-size: 14px;
    padding-top: 20px;
    font-weight: bold;
}
#our_client{
    background-color: #71a3a7;
    width: 50%;
    height: 100%;
    float: right;
}

#our_client_title{
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: relative;
}
#our_client_title >img{
    position: absolute;
    top: 20px;
    left: 20px;
}
#our_client_title >p{
    position: absolute;
    top: 0px;
    left: 60px;
    font-weight: bold;
    font-size: 15px;
}
